@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    color: #565C66;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* INPUTS */

.field {
    box-sizing: border-box;
    padding: 13px 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.field::placeholder {
    color: #2D3440;
}

.field:empty {
    color: #B9B9B9;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.field:empty::placeholder {
    color: #2D3440;
}

.field:hover {
    border: 1px solid #2D3440;
    border-radius: 4px;
}

.field:hover {
    color: #2D3440;
    opacity: 1;
}

.field:focus {
    border: 2px solid #2D3440;
    border-radius: 4px;
    padding: 11px 15px;
}

.field:disabled {
    background: #E7E7E7;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.field:disabled:hover {
    color: #2D3440;
    background: #E7E7E7;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.field:disabled:hover .field::placeholder {
    color: #2D3440; 
    opacity: 1;
}

/* BUTTONS */

.btn-primary {
    display: block;
    padding: 12px 32px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #FCFCFC;
    outline: 4px solid #FFCBD8;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}

.btn-primary:hover {
    background-color: #FFCBD8;
    outline: 4px solid #FCFCFC;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.btn-primary:active {
    background-color: #FCFCFC;
    outline: 2px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.btn-primary:focus {
    background-color: #FFCBD8;
    outline: 2px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.btn-additional {
    display: block;
    padding: 12px 32px;
    background-color: #FF2F64;
    font-family: "Inter", sans-serif;
    color: #FCFCFC;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: none;
    outline: 4px solid #FFCBD8;
    border-radius: 26px;
    cursor: pointer;
}

.btn-additional:hover {
    color: #2D3440;
    background: rgba(252, 252, 252, 0.4);
    outline: 4px solid #FF2F64;
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
    border-radius: 26px;
}

.btn-additional:active {
    background-color: #FEAFC3;
    outline: 2px solid #2D3440
}

.btn-additional:focus {
    background-color: #FF2F64;
    outline: 2px solid #2D3440
}

/* POPOVER */

.popover {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #2D3440;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

/* SEARCH POPOVER */

.popover-search {
    width: 356px;
    min-height: 96px;
    padding: 24px 16px;
}

.popover-search-field {
    border-radius: 4px;
    width: 324px;
    min-height: 48px;
}

/* LOGIN POPOVER */

.popover-login {
    right: 0;
    width: 420px;
    padding: 48px 48px 52px 48px;
}

.popover-login-content {
    display: flex;
    flex-direction: column;
}

.popover-login-fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.popover-login-field {
    width: 324px;
    min-height: 48px;
    margin-bottom: 16px;
}

.popover-login-title {
    margin: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.auth-container {
    display: flex;
    gap: 21px;
}

.popover-login-links-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.popover-login-link {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    border-bottom:  1px solid #2D3440;
}


/* CART POPOVER */

.popover-cart {
    width: 441px;
    padding: 48px;
}

.popover-title {
    margin: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.cart-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cart-item {
    display: grid;
    grid-template-columns: 62px 164px 103px 16px;
    align-items: center;
    margin-bottom: 24px;
}

.cart-item:last-child {
    margin: 0;
}

.cart-item:last-child::after {
    content: "";
    width: 345px;
    height: 0;
    border-top: 1px solid #E7E7E7;
    border-radius: 1px;
    margin: 32px 0;
}

.cart-product-img {
    display: block;
    order: -1;
    margin-right: 16px;
}

.cart-container {
    margin-right: auto;
}

.cart-title {
    margin: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.cart-cost {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

.cart-price {
    margin: 0;
    margin-right: 52px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.delete-from-cart-btn {
    width: 16px;
    height: 16px;
    border: none;
    margin: 0;
    padding: 3px;
    background: none;
    cursor: pointer;
}

.cart-total-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-checkout {
    margin-right: auto;    
}

.cart-total-cost {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #2D3440;
}

.navigation-item,
.user-navigation,
.btn-social,
.gift-item,
.product-item,
.advantages-item,
.footer-menu-item,
.breadcrumbs-item,
.pagination-item {
    list-style-type: none;
}

/* Navigation */

.main-navigation {
    display: flex;
    align-items: center;
    width: 1170px;
    min-height: 98px;
    margin: 0 auto;
    line-height: 20px;
}

.main-navigation a {
    display:block;
}

.logo-link {
    margin: 0;
    padding: 0;
    margin-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    cursor: pointer;
    outline: 0;
}

.logo {
    display: block;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 400px;
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-link {
    display: block;
    padding: 8px 16px;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

.user-menu-container {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user-navigation-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation-link,
.user-navigation-link,
.phone-link {
    color: #2D3440;
    text-decoration: none;
}

.phone-link {
    display: block;
    margin: 0;
    padding: 6px 0;
    margin-right: 16px;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    outline: 0;
}

.user-navigation-item {
    position: relative;
    margin: 0;
    margin-right: 16px;
    min-width: 32px;
    min-height: 32px;
}

.user-navigation-item:last-child {
    margin-right: 0;
}

.user-navigation-link {
    box-sizing: border-box;
    position: relative;
    display: block;
    min-height: 32px;
    font-size: 14px;
    background-color: #FFCBD8;
    border-radius: 27px;
    text-align: center;
    cursor: pointer;
    outline: 0;
}

.user-navigation-link:hover {
    background-color: #FDD6E0;
}

.user-navigation-link:focus {
    background-color: #FDD6E0;
    border: 2px solid #2D3440;
}

.user-navigation-link:active {
    background-color: #FCFCFC;
}


.navigation-icon {
    display: block  ;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #2D3440;
}

.user-navigation-link-search {
    min-height: 32px;
    min-height: 32px;
    padding: auto;
}

.user-navigation-link-search:active + .popover,
.user-navigation-link-search:hover + .popover,
.user-navigation-link-search:focus + .popover {
    display: block;
}

.user-navigation-link-search .navigation-icon {
    
}

.user-navigation-link-login {
    padding: 6px 16px;
    padding-left: 38px;
}

.user-navigation-link-login:active + .popover,
.user-navigation-link-login:hover + .popover,
.user-navigation-link-login:focus + .popover {
    display: block;
}

.user-navigation-link-login .navigation-icon {
    right: auto;
    left: 16px;
    margin: auto 0;
}

.user-navigation-link-cart {
    padding: 6px 16px;
    padding-left: 38px;
}

.user-navigation-link-cart:active + .popover,
.user-navigation-link-cart:hover + .popover,
.user-navigation-link-cart:focus + .popover {
    display: block;
}

.user-navigation-link-cart .navigation-icon {
    right: auto;
    left: 16px;
    margin: auto 0;
}

/* Main */

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

/* Slider section */

.slider {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
}

.slider-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 470px;
    padding-left: 70px;
    padding-top: 136px;
}

.slider-title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    color: #2D3440;
}

.slider-text {
    margin: 0;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 24px;
    color: #2D3440;
}

.slider-ice-cream {
    margin-top: 21px;
    margin-left: 21px;
    margin-bottom: 2px;
}

.btn-order {
    align-self: flex-start;
}

.slider-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.slider-pagination-list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider-pagination-item {
    margin-right: 8px;
}

.slider-pagination-item:last-child {
    margin-right: 0;
}

.slider-pagination-btn {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    background-color: #FFCBD8;
    border: none;
    border-radius: 50%;
}

.slider-pagination-current {
    background-color: #FCFCFC;
}

.slider-pagination-btn:hover {
    border: 1px solid #FCFCFC;
}

.slider-pagination-btn:focus {
    border: 1px solid #2D3440;
    background-color: #FEBED5;
}

.slider-pagination-btn:active {
    background-color: #FDD6E0;
}

.slider-footer .social-link-list {
    margin: 0;
    margin-left: auto;
}

.social-link-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-social {
    margin-right: 16px;
}

.btn-social:last-child {
    margin-right: 0;
}

.social-link {
    display: block;
    position: relative;
    min-width: 24px;
    min-height: 24px;
    outline: 2px solid #FFCBD8;
    border-radius: 50%;
    cursor: pointer;
}

.social-link:hover .social-icon {
    background-color: #2D3440;
}

.social-link:focus .social-icon {
    background-color: #2D3440;
    outline: 2px solid #2D3440;
}

.social-link:active {
    background-color: #2D3440;
    opacity: 0.5;
}

.social-icon {
    display: block  ;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #FCFCFC;
    border-radius: 50%;
}

/* Gift section */

.gift {
    margin-bottom: 50px;
}

.gift-title {
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    color: #2D3440;
}

.gift-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-order,
.btn-gift {
    padding: 12px 32px;
    color: #2D3440;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center; 
    
    background-color: #FCFCFC;
    border-radius: 26px;
    outline: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    cursor: pointer;
}

.gift-item {
    display: flex;
    flex-direction: row;
    width: 570px;
    background-color: #FF7799;
    border-radius: 16px;
    margin-bottom: 30px;
}

.gift-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 36px;
}

.free-offer {
    margin: 0;
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #2D3440;
}

.gift-text {
    margin: 0;
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #2D3440;
}

.img-gift {
    display: block;
    margin-left: auto;
}

/* Product section */

.product {
    margin-bottom: 80px;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 91px 30px;
    margin: 0;
    padding: 0;
}

.product-title {
    margin: 0;
    margin-bottom: 107px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    color: #2D3440;
}

.product-item {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.product-item::last-child {
    margin-right: 0;
}

.product-img {
    display: block;
    margin: 0 auto;
    margin-top: -51px;
    margin-bottom: 16px;
    order: -1;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.product-name {
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #2D3440;
}

.product-text {
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
    width: 190px;
}

.price-container {
    margin-bottom: 24px;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.product-price {
    margin-left: 40px;
}

.add-to-cart-btn {
    width: 32px;
    height: 32px;
    margin-right: 40px;
    padding: 8px;
    background-color: #FF2F64;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.add-to-cart-btn:active {
    padding: 6px;
    border: 2px solid #FF2F64;
    background-color: #FFCBD8;
}

.add-to-cart-btn:active path {
    fill: #2D3440;
}

.add-to-cart-btn:focus {
    border: 2px solid #2D3440;
    padding: 6px;
}

.add-to-cart-btn:hover {
    padding: 6px;
    border: 2px solid #FF2F64;
    background-color: #FCFCFC;
}

.add-to-cart-btn:hover path {
    fill: #2D3440;
}

.cart-icon {
    display: block;
}

/* Advantages section */

.advantages {
    display: flex;
    padding: 24px;
    margin-bottom: 80px;
    background-image: url("../images/advantages-background.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:16px;
}

.advantages-wrapper {
    background-color: #FFFFFF;
    padding: 56px 40px;
    border-radius:16px;
}

.advantages-title {
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    color: #2D3440;
}

.advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 32px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.advantages-item {
}

.advantages-text {
    position: relative;
    display: block;
    margin: 0;
    padding-left: 64px;
}

.advantages-text-1::before {
    content: url("../images/advantages/icecream.svg");

    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 48px;
    height: 48px;
    margin-right: 16px;

    background-repeat: no-repeat;
    background-position: center;
}

.advantages-text-2::before {
    content: url("../images/advantages/cow.svg");

    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 48px;
    height: 48px;
    margin-right: 16px;

    background-repeat: no-repeat;
    background-position: center;
}

.advantages-text-3::before {
    content: url("../images/advantages/leaf.svg");

    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 48px;
    height: 48px;
    margin-right: 16px;

    background-repeat: no-repeat;
    background-position: center;
}

.advantages-text-4::before {
    content: url("../images/advantages/thermometer.svg");

    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 48px;
    height: 48px;
    margin-right: 16px;

    background-repeat: no-repeat;
    background-position: center;
}

.union-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

/* Blog section */

.blog {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 570px;
    min-height: 224px;
    padding-top: 32px;
    padding-left: 32px;
    margin-right: 30px;
    background-image: url("../images/blog-background.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.blog-title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #2D3440;
}

.blog-text {
    margin: 0;
    margin-bottom: 12px;
    order: -1;
    line-height: 20px;
}

.subscription {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 6px;
    width: 570px;
    background-image: url("../images/subscription-background.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.subscription-wrapper {
    padding: 26px 26px 28px 26px;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.subscription-text {
    margin: 0;
    margin-bottom: 44px;
}

.subscription-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.subscription-input {
    box-sizing: border-box;
    width: 332px;
    font-size: 16px;
    line-height: 20px;
}

.btn-send {
    padding: 12px 33px;
    background-color: #FF2F64;
    color: #FCFCFC;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: none;
    outline: 4px solid #FFCBD8;
    border-radius: 26px;
    cursor: pointer;
}


.delivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 534px;
    padding-left: 100px;
    margin-bottom: 80px;
    background-image: url("../images/delivery-background.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.delivery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 167px;
}

.delivery-title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    color: #2D3440;
}

.delivery-text {
    margin: 0;
}

.delivery-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    width: 500px;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-right: 64px;
    padding: 40px;
    background-color: #FCFCFC;
    border-radius: 8px;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

.delivery-form-text {
    width: 420px;
    margin: 0;
    margin-bottom: 32px;
}

.delivery-form-container {
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px 16px;
    margin-bottom: 32px;
}

.delivery-form-container label {
    color: #2D3440;
    margin-bottom: 8px;
}

.delivery-form-date {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.delivery-form-date input {
    padding-left: 15px;
    padding-right: 14px;
}

.delivery-field-date:focus {
    padding-left: 14px;
    padding-right: 13px;
}

.delivery-form-phone {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.delivery-form-adress {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    margin: 0;
}


.delivery label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.delivery input {
    font-size: 16px;
    line-height: 20px;
}

.form-date::after {
    content: url("../images/required.svg");
}

.form-adress::after {
    content: url("../images/required.svg");
}

.delivery-form {
    width: 500px;
}

.btn-send {
    align-self: center;
}

.form-date {

}

/* Contacts section */

.contacts {
    display: flex;
    justify-content: flex-start;
    padding: 64px;
    background-image: url("../images/contacts-background.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.contacts-adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 343px; */
    padding: 40px;
    font-style: normal;
    background-color: #FCFCFC;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
}

.adress-office {
    margin: 0;
    margin-bottom: 12px;
}

.adress-street {
    margin: 0;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #2D3440;
}

.adress-order {
    margin: 0;
    margin-bottom: 12px;
}

.adress-phone-link {

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #2D3440;
}

.adress-phone-caption {
    margin: 0;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 20px;
}

.btn-feedback {
    padding: 12px 33px;
    background-color: #FF2F64;
    color: #FCFCFC;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: none;
    outline: 4px solid #FFCBD8;
    border-radius: 26px;
    cursor: pointer;
}

.product-price {
    color: #2D3440;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.main-footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding: 48px;
    padding-left: 4px;
    padding-right: 14px;
}

.social-link-list {
    margin: 0;
    margin-right: auto;
    width: 104px;
}

.footer-menu-list {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content;
    gap: 8px 24px;
    margin: 0;
    margin-right: 200px;
    
    font-size: 14px;
    line-height: 20px;
    
}

.footer-menu-list a {
    text-decoration: none;
    color: #2D3440;
}

.footer-menu-item {
    position: relative;

}

.footer-menu-like {
    font-weight: 700;
    color: #2D3440;
}

.footer-menu-like::before {
    position: absolute;
    top: 2px;
    left: -25px;
    content: url("../images/heart.svg");
}

.developer {
    width: 193px;
}

.developer-logo {
    display: block;
    margin-bottom: 14px;
}

.developer-text {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}

.developer-link {
    color: #565C66;
}

/* Catalog*/

/* Navigation */

.catalog-navigation {
    margin-bottom: 32px;
}

.catalog-title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    color: #2D3440;
}

.current .navigation-link {
    padding: 8px 16px;
    background-color: #FF4A78;
    color: #FCFCFC;
    border-radius: 30px;
    text-align: center;
}

/* Breadcrumbs */

.breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
}
.breadcrumbs-link-main::after {
    content: url("../images/breadcrumbs-arrow.svg");

    margin: 0 8px;
}

.breadcrumbs-current {
    text-decoration: underline;
}

/* Filter */

.filter {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 95px;
}

.filter p {
    margin: 0;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
}

.filter-form > div {
    margin-right: 24px;
}

.filter-form > div:last-of-type {
    margin-right: 16px;
}

.sorting {
    grid-area: 1 / 3;
    display: flex;
    flex-direction: column;
}

.sorting-form {
    margin-bottom: 8px;
    margin-left: 16px;
}

.sorting select {
    width: 196px;
    padding: 8px 16px;
    background-color: #FFCBD8;
    border: none;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.price {
    grid-area: 3 / 5;
    display: flex;
    flex-direction: column;
}

.range-scale {
    position: relative;
    height: 2px;
    margin-bottom: 16px;
    background-color: #B9B9B9;
    border-radius: 2px;
  }

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #565C66;
}

.range-toggle {
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    background: #ffffff;
    border: 6px solid #2D3440;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background-color: #dbb590;
  }
  
  .range-toggle:active,
  .range-toggle:focus {
    outline: 3px solid #dbb590;
  } 

.fat {
    
    display: flex;
    flex-direction: column;
}

.fat-fieldset {
    border: none;
}

.filter-fat-container {
    display: flex;
}

.btn-apply {
    font-weight: 700;
    background-color: #FFCBD8;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-show-more {
    border: none;
    box-sizing: content-box;
    margin-left: 488px;
    margin-right: auto;
    
    justify-self: center;
}

.btn-show-more:hover {
    background-color: #FFCBD8;
    outline: 4px solid #FCFCFC;
}

.btn-show-more:active {
    background-color: #FCFCFC;
    outline: 2px solid #2D3440;
}

.btn-show-more:focus {
    background-color: #FFCBD8;
    outline: 2px solid #2D3440
}

.pagination-list {
    display: flex;
    margin: 0;
    align-items: center;
}

.pagination-link {
    padding: 12px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}
.pagination-current {
    padding: 2px 8px;
    background-color: #FCFCFC;
    border-radius: 76px;
    text-align: center;
}
