@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    color: #565C66;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation-item,
.user-navigation,
.btn-social,
.gift-item,
.product-item,
.advantages-item,
.footer-menu-item,
.breadcrumbs-item,
.pagination-item {
    list-style-type: none;
}

/* Navigation */

.main-navigation {
    display: flex;
    align-items: center;
    width: 1170px;
    min-height: 98px;
    margin: 0 auto;
    line-height: 20px;
}

.main-navigation a {
    display:block;
}

.logo-link {
    margin: 0;
    padding: 0;
    margin-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    display: block;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 400px;
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-link {
    display: block;
    padding: 8px 16px;
    line-height: 20px;
    text-decoration: none;
}

.user-menu-container {
    display: flex;
    margin-left: auto;
}

.user-navigation-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation-link,
.user-navigation-link,
.phone-link {
    color: #2D3440;
}


.phone-link {
    display: block;
    margin: 0;
    margin-right: 16px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
}

.user-navigation-item {
    margin: 0;
    margin-right: 16px;
}

.user-navigation-item:last-child {
    margin-right: 0;
}

.user-navigation-link {
    position: relative;
    display: block;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    background-color: #FFCBD8;
    border-radius: 27px;
    text-align: center;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #2D3440;
}

.user-navigation-link-login {
    padding: 6px 16px;
    padding-left: 38px;
}

.user-navigation-link-login .navigation-icon {
    right: auto;
    left: 16px;
    margin: auto 0;
}

.user-navigation-link-cart {
    padding-left: 38px;
}

.user-navigation-link-cart .navigation-icon {
    right: auto;
    left: 16px;
    margin: auto 0;
}

/* Main */

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

/* Slider section */

.slider {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
}

.slider-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 470px;
    padding-left: 70px;
    padding-top: 136px;
}

.slider-title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    color: #2D3440;
}

.slider-text {
    margin: 0;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 24px;
    color: #2D3440;
}

.btn-order {
    align-self: flex-start;
}

.social-link-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Gift section */

.gift {
    margin-bottom: 80px;
}

.gift-title {
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    color: #2D3440;
}

.gift-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-order,
.btn-gift {
    padding: 12px 32px;
    color: #2D3440;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center; 
    background-clip: padding-box;
    background-color: #FCFCFC;
    border-radius: 26px;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.btn-order:hover,
.btn-gift:hover {
    background-color: #FFCBD8;
    box-shadow: 0 0 0 4px  #FCFCFC;
}

.btn-order:active,
.btn-gift:active {
    background-color: #FCFCFC;
    border: 2px solid #2D3440;
}

.btn-order:focus,
.btn-gift:focus {
    background-color: #FFCBD8;
    border: 2px solid #2D3440;
}


.gift-item {
    display: flex;
    flex-direction: row;
    width: 570px;
    background-color: #FF7799;
    border-radius: 16px;
    margin-bottom: 30px;
}

.gift-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 36px;
}

.free-offer {
    margin: 0;
    margin-bottom: 28px;
    color: #2D3440;
}

.gift-text {
    margin: 0;
    margin-bottom: 28px;
}

.img-gift {
    display: block;
    margin-left: auto;
}

/* Product section */

.product {
    margin-bottom: 80px;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 91px 30px;
    margin: 0;
    padding: 0;
}

.product-title {
    margin: 0;
    margin-bottom: 107px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    color: #2D3440;
}

.product-item {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.product-item::last-child {
    margin-right: 0;
}

.product-img {
    display: block;
    margin: 0 auto;
    margin-top: -51px;
    order: -1;
}

.product-name {
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #2D3440;
}

.product-text {
    margin: 0;
    margin-bottom: 16px;
    text-align: center;

}

.price-container {
    margin-bottom: 24px;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.product-price {
    margin-left: 40px;
}

.add-to-cart-btn {
    margin-right: 40px;
    background-color: #FF2F64;
    border-radius: 50%;
    border: 0;
}

/* Advantages section */

.advantages {
    display: flex;
    padding: 24px;
    margin-bottom: 80px;
    background-image: url("../images/advantages-background.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:16px;
}

.advantages-wrapper {
    background-color: #FFFFFF;
    padding: 56px 40px;
    border-radius:16px;
}

.advantages-title {
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    color: #2D3440;
}

.advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 32px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.advantages-item {
}

.advantages-text {
    display: block;
    margin: 0;
}

.advantages-text-1::before {
    content: url("../images/advantages/icecream.svg");

    display: block;

    width: 48px;
    height: 48px;
    margin-right: 16px;

    background-repeat: no-repeat;
    background-position: center;
}

.advantages-text-2::before {
    content: url("../images/advantages/cow.svg");

    display: block;

    width: 48px;
    height: 48px;
    margin-right: 16px;

    background-repeat: no-repeat;
    background-position: center;
}

.advantages-text-3::before {
    content: url("../images/advantages/leaf.svg");

    display: block;

    width: 48px;
    height: 48px;
    margin-right: 16px;

    background-repeat: no-repeat;
    background-position: center;
}

.advantages-text-4::before {
    content: url("../images/advantages/thermometer.svg");

    display: block;

    width: 48px;
    height: 48px;
    margin-right: 16px;

    background-repeat: no-repeat;
    background-position: center;
}

.union-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

/* Blog section */

.blog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 570px;
    min-height: 224px;
    padding-top: 32px;
    padding-left: 32px;
    margin-right: 30px;
    background-image: url("../images/blog-background.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.blog-title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #2D3440;
}

.blog-text {
    margin: 0;
    order: -1;
    line-height: 20px;
}

.subscription {
    display: flex;
    margin: 0;
    padding: 6px;
    width: 570px;
    background-image: url("../images/subscription-background.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.subscription-wrapper {
    padding: 56px 40px;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.subscription-text {
    margin: 0;
}

.subscription input {
    width: 332px;
    font-size: 16px;
    line-height: 20px;
}

.btn-send, .btn-feedback {
    padding: 12px 32px;
    background-color: #FF2F64;
    color: #FCFCFC;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: 4px solid #FFCBD8;
    border-radius: 26px;
}

.delivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 534px;
    padding-left: 100px;
    margin-bottom: 80px;
    background-image: url("../images/delivery-background.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.delivery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delivery-title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    color: #2D3440;
}

.delivery-text {
    margin: 0;
}

.delivery-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    width: 500px;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-right: 64px;
    padding: 40px;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.delivery-form-text {
    width: 420px;
    margin: 0;
    margin-bottom: 32px;
}

.delivery-form-container {
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px 16px;
    margin-bottom: 32px;
}

.delivery-form-container label {
    color: #2D3440;
    margin-bottom: 8px;
}

.delivery-form-date {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.delivery-form-phone {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.delivery-form-adress {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    margin: 0;
}


.delivery label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.delivery input {
    font-size: 16px;
    line-height: 20px;
}

.form-date::after {
    content: url("../images/required.svg");
}

.form-adress::after {
    content: url("../images/required.svg");
}

.delivery-form {
    width: 500px;
}

.btn-send {
    align-self: center;
}

.form-date {

}

/* Contacts section */

.contacts {
    padding: 64px;
    background-image: url("../images/contacts-background.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.contacts-adress {
    display: flex;
    flex-direction: column;
    width: 343px;
    padding: 40px;
    font-style: normal;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.adress-office {
    margin: 0;
    margin-bottom: 12px;
}

.adress-street {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #2D3440;
}

.adress-phone-link {

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #2D3440;
}

.adress-phone-caption {

    font-size: 14px;
    line-height: 20px;
}

.btn-feedback {

}

.product-price {
    color: #2D3440;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding: 48px;
    padding-left: 4px;
    padding-right: 14px;
}

.social-link-list {
    width: 104px;
}

.footer-menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 356px;
    font-size: 14px;
    line-height: 20px;
    
}

.footer-menu-list a {
    text-decoration: none;
    color: #565C66;
}

.footer-menu-item {
    position: relative;
}

.footer-menu-like {
    font-weight: 700;
    color: #2D3440;
}

.footer-menu-like::before {
    position: absolute;
    top: 2px;
    left: -25px;
    content: url("../images/heart.svg");
}

.developer {
    width: 193px;
}

.developer-text {
    font-size: 12px;
    line-height: 16px;
}

.developer-link {
    color: #565C66;
}

/* Catalog*/

/* Navigation */

.catalog-navigation {
    margin-bottom: 32px;
}

.catalog-title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    color: #2D3440;
}

.current .navigation-link {
    padding: 8px 16px;
    background-color: #FF4A78;
    color: #FCFCFC;
    border-radius: 30px;
    text-align: center;
}

/* Breadcrumbs */

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
}
.breadcrumbs-link-main::after {
    content: url("../images/chevrons-right.svg");
    margin: 0 8px;
}

.breadcrumbs-current {
    text-decoration: underline;
}

/* Filter */

.filter {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 95px;
}

.filter p {
    margin: 0;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
}

.filter-form > div {
    margin-right: 24px;
}

.filter-form > div:last-of-type {
    margin-right: 16px;
}

.sorting {
    grid-area: 1 / 3;
    display: flex;
    flex-direction: column;
}

.price {
    grid-area: 3 / 5;
    display: flex;
    flex-direction: column;
}

.fat {
    
    display: flex;
    flex-direction: column;
}

.filter-fat-container {
    display: flex;
}

.btn-apply {
    font-weight: 700;
    background-color: #FFCBD8;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-show-more {
    margin: 0 auto;
    padding: 12px 32px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #FCFCFC;
    border: 4px solid #FFCBD8;

border-radius: 26px;
}

.pagination-list {
    display: flex;
    margin: 0;
    align-items: center;
}

.pagination-link {
    padding: 12px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}
.pagination-current {
    padding: 2px 8px;
    background-color: #FCFCFC;
    border-radius: 76px;
    text-align: center;
}

.btn-show-more {
    justify-self: center;
}