@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/inter-400.woff2" format("woff2"));
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src:url("../fonts/inter-700.woff2" format("woff2"));
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src:url("../fonts/inter-900.woff2" format("woff2"));
    font-display: swap;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: #FEAFC3;
    color: #565C66;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.navigation-item, .user-navigation, .btn-social, .gift-item, .popular-item, .advantages-item, .footer-menu-item {
    list-style: none;
}

h1, h2, h3 {
    color: #2D3440;
}

.navigation-link, .user-navigation-link, .phone-link {
    color: #2D3440;
}

.phone-link {
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
}

.user-navigation-link {
    font-size: 14px;
}

.btn-order, .btn-gift {
    color: #2D3440;
    line-height: 20px;
    text-decoration: none;
}

.advantages {
    padding: 24px;
    background-image: url("../images/advantages-background.png");
    background-repeat: no-repeat;

}
.advantages-wrapper {
    background-color: #FFFFFF;
}